.SEC-INFO {
    margin-top: 40px;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 12;
    grid-row-end: 20;
    background-color: rgb(34, 34, 34);;
}

.SEC-INFO-MID {
width: 100%;
height: min-content;
}

.SEC-INFO-MID-SEC-1 {
    width: 100%;
    height: min-content;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: white;
    border-top: white solid;
}

.SEC-INFO-MID-SEC-1-TOP {
    margin-top: 20px;
    width: 100%;
    height: 69px;
}

.SEC-INFO-MID-SEC-1-HEADER {
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 50%;
    height: 69px;
    background-color: rgb(54, 54, 54);
}

.SEC-INFO-MID-SEC-1-HEADER-TEXT {
    margin: auto;
    height: 100%;
    width: 100%;
    color: white;
}

.SEC-INFO-MID-SEC-1-BOTTOM {
    vertical-align: middle;
    margin-top: 20px;
    width: 100%;
    height: 10px;
    background-color: rgb(54, 54, 54);
}

